<div id="container">
  <h3>{{ name }}</h3>

  <!-- Section to add a new element -->
  <ion-button [disabled]="addingElement" (click)="addElement()">Add!</ion-button>
  <div *ngIf="addingElement">
    Adding Element. Pleas Wait...
  </div>

  
  <!-- Retrieving information -->
  <div *ngIf="loading">
    Loading...
  </div>
  
  
  <!-- Section to display information -->
  <div *ngIf="!loading">
    <!-- Error while retrieving information -->
    <div *ngIf="error">
      An error ocurred while retrieving information.
      <ion-button (click)="getPage(1)">Retry</ion-button>
    </div>

    <!-- Display retrieved information -->
    <div *ngIf="!error">
      
      <ion-button (click)="reloadCurrentPage()">Reload Page</ion-button>

      <!-- If there is information -->
      <ion-list *ngIf="loaded">
        
        <app-employee-info (deleteEvent)="deleteElement($event)" (updateEvent)="updateElement($event)" *ngFor="let employee of employees" [employee]="employee"></app-employee-info>
  
        <ion-button *ngIf="previousPage" (click)="getPreviousPage()">Previous Page</ion-button>
        <ion-button *ngIf="nextPage" (click)="getNextPage()">Next Page</ion-button>
      </ion-list>
  
      <!-- If there is no information -->
      <div *ngIf="!loaded">
        There is no data to show.
        <ion-button (click)="getPage(1)">Reload</ion-button>
      </div>
    </div>
    
  </div>


</div>