<div id="container">
  <h3>{{ name }}</h3>

  <!-- Section to add a new element -->
  <div *ngIf="!addingElement">
    <ion-button (click)="addElement()">Add!</ion-button>
  </div>
  <div *ngIf="addingElement">
    Adding Element. Pleas Wait...
  </div>

  
  <!-- Retrieving information -->
  <div *ngIf="loading">
    Loading...
  </div>
  
  
  <!-- Section to display information -->
  <div *ngIf="!loading">
    <!-- Error while retrieving information -->
    <div *ngIf="error">
      An error ocurred while retrieving information.
      <ion-button (click)="getNextPage()">Retry</ion-button>
    </div>

    <!-- Display retrieved information -->
    <div *ngIf="!error">
      
      <ion-button (click)="reloadCurrentPage()">Reload Page</ion-button>

      <!-- If there is information -->
      <ion-list *ngIf="loaded">
        
        <div *ngFor="let element of elemnts">
          <ng-content></ng-content>
        </div>
  
        <ion-button *ngIf="previousPage" (click)="getPreviousPage()">Previous Page</ion-button>
        <ion-button *ngIf="nextPage" (click)="getNextPage()">Next Page</ion-button>
      </ion-list>
  
      <!-- If there is no information -->
      <div *ngIf="!loaded">
        There is no data to show.
        <ion-button (click)="getNextPage()">Reload</ion-button>
      </div>
    </div>
    
  </div>
</div>