<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      Desarrollo Web: BackEnd
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
  <ion-icon name="desktop-sharp"></ion-icon>
  <h3>Tarea 4</h3>
</div>

<div class="informacion">
  Cliente Servidor en Ionic, basado en la Tarea #3. 
  <br><br>Incluye: Lista de entidad, borrar elementos y dar de alta un nuevo elemento.
</div>
</ion-content>